/*
    Document   : TinyJSEditor
    Created on : 17.03.2011, 19:56:35
    Author     : Kurtextrem
    Description:
        The Stylesheet for TinyJSEditor
*/

/* Include font */
@import 'http://fonts.googleapis.com/css?family=Candal';

/* For all buttons */
.tje_button{
	border: 1px solid grey !important;
	border-radius: 5px;

    -webkit-transition-duration: 3s;
	-moz-transition-duration: 3s;
	-o-transition-duration: 3s;
	transition-duration: 3s;

    -webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;

	/*-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-direction: alternate;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;*/
}
.tje_button:focus{
	outline: 1px solid orange;
}

.tje_button:active{
	/*box-shadow: inset black 1px 1px 0px !important;*/
	box-shadow: none !important;
}

/* for big button */
.tje_b{
	color: black;
	font-family: 'Candal', arial, serif;
	box-shadow: silver 1px 1px 0px;
	-webkit-transition-property: font-weight;
	-moz-transition-property: font-weight;
	-o-transition-property: font-weight;
	transition-property: font-weight;
}

.tje_b:hover{
	font-weight: bold;
}

/* for italic button */
.tje_i{
	color: white;
	background-color: black;
	box-shadow: black 1px 1px 0px;
	font-family: monospace;
	border-radius: 5px;
	-webkit-transition-property: font-style;
	-moz-transition-property: font-style;
	-o-transition-property: font-style;
	transition-property: font-style;
}

.tje_i:hover{
	font-style: italic;
}